@import url('../../styles/styles.scss');

.container{
    margin: 0 auto;
    width: 100%;
}
.full-info_wrapper{
    margin-top: 65px;
}
.goBack-button{
    button::before{
        content: url('../../assets/icon-arrow-left.svg');
        width: 9px;
        height: 5px;
        display: inline-block; /* Добавьте этот стиль, чтобы ::before отобразился */
        margin-right: 23px;
    }
    button{
        color:#0C0E16;
        font-size: 15px;
        font-weight: 700;
        line-height: 15px; /* 100% */
        letter-spacing: -0.25px;
        margin-bottom: 30px; 
    }
}

.invoice-header{
    background-color: #fff;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.10);
    border-radius: 8px;
    padding: 24px 32px;
    display: flex; 
    justify-content: space-between;
    align-items: center;

    .status{
        display: flex;
        align-items: center;
        p:first-child{
             margin-right: 20px;
        }
    }
}

.full-info{
    margin-top: 24px;
    padding: 48px 50px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.10);

    .id{
        color: #0C0E16;
        font-weight: 700;
        line-height: 24px;
        span{
            color: #888EB0;
        }
    }
}
.containerTitle{
    color: #7E88C3;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 13px; 
    line-height: 18px;
    letter-spacing: -0.1px;
} 
.full-info-header{
    display: grid;  
    grid-template: repeat(3, auto)/repeat(6, 1fr);

    .right-side{
        grid-row: 1/2;
        grid-column: -2/-1;
        text-align: right;
    }
    .invoice-date-container{
        grid-row: 2/3;
    }
    .payment-due-container{
        grid-row: -2/-1;
    }
    .bill-to-container{
        grid-row: 2/4;
        grid-column: 3/4;
    }
    .sent-to-container{
        grid-row: 2/3;
        grid-column: 5/6;
    }
}

.bill-to-container{
    color: #7E88C3;
    font-weight: 500;
    line-height: 18px;
    font-size: 13px;
    h3{
        
    }
}
.bold{
    color: #0C0E16;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.25px;
    font-size: 15px;
}


// .adress{
//     display: flex;
//     flex-direction: column;
//     text-align: right;
// }