@import '../../styles/styles.scss';

.newInvoiceForm{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    margin-left: 100px;
    background: rgba(0, 0, 0, .4984);
}

.input{
    border-radius: 4px;
    border: 1px solid #DFE3FA;
    background: #FFF;
    padding-top: 18px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 16px;
    margin-top: 9px;

    #dark & {
        background-color: #1E2139;
        border: 1px solid var(--04, #252945);
        color: #fff;
    }
}
.input-fullWidth{
    width: 100%;
}
label{
    color: var(--07, #7E88C3);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; /* 115.385% */
    letter-spacing: -0.1px;
    // margin-bottom: 9px;
}
.form{
    max-width: 619px;
    background-color: #fff;
    height: 100%;
    overflow-y: scroll; /* Добавление скролла при необходимости */
    #dark & {
        background-color: #141625;
    }
    h4{
        color: #7C5DFA;
        font-weight: 700;
        font-size: 15px;
        margin-bottom: 24px;
        margin-top: 46px;
    }
}


.btns__container{
    position: sticky;
    bottom: 0;
    left: 0;
    background-color: #fff;

    #dark & {
        background-color: #141625;
    }
    width: 100%;
}
.btns__container-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}
.items-list{
    h3{
        margin-top: 35px;
        margin-bottom: 14px;
        color: #777F98;
        font-size: 18px;
        font-weight: 700;
        line-height: 32px; /* 177.778% */
        letter-spacing: -0.375px;
    }
    p{
        color: var(--07, #7E88C3);
        font-size: 13px;
        font-weight: 500;
        line-height: 15px; /* 115.385% */
        letter-spacing: -0.1px;
    }
    .input{
        color: var(--08, #0C0E16);
        font-size: 15px;
        font-weight: 700;
        line-height: 15px; /* 100% */
        letter-spacing: -0.25px;
        
        &.totalPrice{
            border: 0!important;
            color: #888EB0;
            font-weight: 700;
            font-size: 15px;
        }
    }
}

.item-content{
    display: grid;
    grid-template-columns: 5fr 2fr 3fr 3fr 1fr;
    align-items: center;
    max-width: 100%;
    grid-column-gap: 16px;
    margin-bottom: 18px;
    gap: 10px;
    .input{
        width: 100%;
    }

    &__name{
        grid-column: 1/2;
    }
    &__qty{
        grid-column: 2/3;
    }
    &__price{
        grid-column: 3/4;
    }
    &__total{
        grid-column: 4/5;
    }
    &__remove{
        grid-column: -2/-1;
        align-self: flex-end;
        margin-bottom: 24px;
        cursor: pointer;
        justify-self: flex-end;
    }
}

.productRemove{
    width: 13px;
    height: 16px;
}
.item-list-button{
    margin-top: 16px;
    margin-bottom: 30px;
    button{
        color: var(--07, #7E88C3);
        font-size: 15px;
        font-weight: 700;
        width: 100%;
        border-radius: 24px;
        background: var(--05, #DFE3FA);
        padding-top: 18px;
        padding-bottom: 15px;

        #dark & {
            color: #DFE3FA;
            background: #252945;
        }
    }
}

.total{
    border-radius: 8px 8px 0px 0px;
    margin-top: 44px;
    margin-bottom: 48px;

    #light & {
        background: #F9FAFE;
    }
    #dark & {
        background: #252945;
    }

    .bold-text{
        #light & {
            color: #0C0E16;
        }
        #dark & {
            color: #fff;
        }
    }
    .thin-text{
        #light & {
            color: #7E88C3;
        }
        #dark & {
            color: #DFE3FA;
        }
    }
}

.total-container{
    display: grid;
    grid-template-columns: 40% 10% 25% 25%;
    padding: 33px 34px 21px 32px;

    .label-name{
        text-align-last: left;
    }
    .label-qty{
        text-align: center;
    }
    .label-price{
        text-align: right;
    }
    .label-total{
        text-align: right;
    }
}
.total-item{
    margin-top: 32px;

    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 40% 10% 25% 25%;
    margin-bottom: 10px;
     .name{
        grid-row: 1/2;
        grid-column: 1/2;

        color: var(--08, #0C0E16);
        font-size: 15px;
        font-weight: 700;
     }
     .qty{
        grid-column: 2/3;
        grid-row: 1/2;
        text-align: center;

        color: var(--07, #7E88C3);
        font-size: 15px;
        font-weight: 700;
        letter-spacing: -0.25px;
     }
    .price{
        grid-column: 3/4;
        grid-row: 1/2;
        text-align: right;

        color: var(--07, #7E88C3);
        font-size: 15px;
        font-weight: 700;
        letter-spacing: -0.25px; 
    }
    .total-price{
        grid-column: -2/-1;
        grid-row: 1/2;
        text-align: right;

        color: var(--08, #0C0E16);
        font-size: 15px;
        font-weight: 700;
    }
}

.grand-total{
    
    padding: 32px 32px 21px 32px;
    width: 100%;
    border-radius: 0px 0px 8px 8px;
    background: #373B53;

    display: flex;
    align-items: center;
    justify-content: space-between;
    #light & {
        background: #373B53;
    }
    #dark & {
        background: #0C0E16;
    }
    p{
        color: #FFF;
        font-size: 13px;
        font-weight: 500;
        line-height: 18px; /* 138.462% */
        letter-spacing: -0.1px;
    }
    span{
        color: #FFF;
        text-align: right;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px; /* 133.333% */
        letter-spacing: -0.5px;
    }
}

.input-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: 1100px) {
    .newInvoiceForm{
        margin-left: 0;
        margin-top: 50px;
    }
    .form{
        padding: 60px 60px 40px 60px!important;
    }
}


.form{
    padding: 60px 60px 0px 60px;
    // padding-bottom: 120px;
}
.title{
    color: #0C0E16;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    #dark & {
        color: #fff
    } 
}
.inputs-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}
.inputs-fullWidth{
    grid-row: 2/3;
    grid-column: 1/4;
}
.bill-from-city, .bill-from-postCode, .bill-from-country{
    grid-row: 3/4;
    width: 100%;
}

.bill-to-name{
    grid-row: 2/3;
    grid-column: 1/4;
}
.bill-to-email{
    grid-row: 3/4;
    grid-column: 1/4;
}
.bill-to-street{
    grid-row: 4/5;
    grid-column: 1/4;
}
.bill-to-city, .bill-to-country, .bill-to-postCode{
    grid-row: 5/6;
}
.inputs-details{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}
.input{
    width: 100%;
}
.error{
    color: #EC5757;
    font-size: 10px;
    font-weight: 600;
}
.input-error{
    border: 1px solid #EC5757!important;
}
@media(max-width: 550px){
    .inputs-grid{
        grid-template-columns: 1fr 1fr;
    }
    .inputs-fullWidth{
        grid-column: 1/3;
    }
    .bill-from-country{
        grid-row: 4/5;
        grid-column: 1/3;
    }
    .bill-to-country{
        grid-row: 6/7;
        grid-column: 1/3;
    }
    .bill-to-name, .bill-to-email, .bill-to-street{
        grid-column: 1/3;
    }
    .inputs-details{
        grid-template-columns: 1fr;
    }
    .item-content{
        grid-template-columns: repeat(6, 1fr);
    }
    .item-content__name{
        grid-column: 1/7;
    }
    .item-content__qty, .item-content__price, .item-content__total{
        grid-row: 2/3;
    }
    .item-content__qty{
        grid-column: 1/2;
    }
    .item-content__price{
        grid-column: 2/4;
    }
    .item-content__total{
        grid-column: 4/6;
    }
    .draft-btn{
        display: none;
    }
}