@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
@import "../../styles/styles.scss";

body {
	font-family: "League Spartan", sans-serif;
	font-size: 15px;
}

/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}

ul,
ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button,
input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

//root

$color-prpl: #7c5dfa;
$color-light-gray: #f9fafe;
$color-dark-gray: #252945;
$bg-light: #f8f8fb;
$bg-dark: #141625;

body {
	&.light {
		background-color: #f8f8fb;
	}

	&.dark {
		background-color: #141625;
	}
}

.page {
	display: flex;
	align-items: flex-start;
	/* Выравнивание элементов по верхнему краю */
	width: 100%;
	// height: 100vh;
}

#light.page {
	background-color: $bg-light;
}

#dark.page {
	background-color: $bg-dark;
}

main {
	margin: 0 auto;
	// width: 800px;
	height: 100%;
	position: relative;
}

// BTN styled

.btn1 {
	border-radius: 24px;
	background: $color-prpl;
	color: #fff;
	font-weight: 700;
	font-size: 1rem;
	line-height: 15px;
	/* 100% */
	letter-spacing: -0.25px;
	display: flex;
	padding: 8px 18px 8px 8px;
	align-items: center;

	img {
		background-color: #fff;
		padding: 10px;
		border-radius: 50%;
		width: 32px;
		height: 32px;
		margin-right: 16px;
	}
}

.btn1:hover {
	background: var(--02, #9277ff);
}

/* LeftSideBar styles */

.left-sidebar {
	border-radius: 0px 20px 20px 0px;
	background: #373b53;
	max-width: 100px;
	min-height: 100%;
	position: fixed;

	&_wrapper {
		height: 100vh;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;

		.logo-container {
			padding: 32px;
			background-image: url("../../assets/logo-bg.svg");
			background-size: cover;
			background-position: center;
			width: 100px;
			display: flex;
			align-items: center;
			justify-content: center;
			/* Ширина и высота SVG */
			height: 100px;

			&:hover {
				cursor: pointer;
			}
		}

		.logo {
			width: 40px;
			height: 38px;
		}

		.bottom-info {
			width: 100%;
			display: flex;
			align-items: center;
			flex-direction: column;

			.themeIcon {
				margin-bottom: 32px;
				width: 20px;
				height: 20px;
			}

			.themeIcon:hover {
				cursor: pointer;
			}

			.profile {
				width: 100%;
				text-align: center;
				border-top: 1px solid #494e6e;

				.avatar {
					margin: 24px 0;
					border-radius: 50%;
					width: 40px;
					height: 40px;
				}
			}
		}
	}
}

@media (max-width: 1024px) {
	.left-sidebar {
		width: 100vw;
		max-width: none;
		min-height: auto;
		height: 80px;
		z-index: 1000;


		&_wrapper {
			flex-direction: row;
			height: 80px;

			.bottom-info {
				flex-direction: row;
				align-items: center;
				width: auto;

				.themeIcon {
					margin-bottom: 0;
					margin-right: 32px;
				}

				.profile {
					padding: 0 32px;
					border-left: 1px solid #494E6E;
					border-top: none;

					.avatar {
						width: 32px;
						height: 32px;
					}
				}
			}
		}

		.logo-container {
			height: 80px;
			width: 80px;

			img {
				height: 31px;
				width: 29px;
				max-width: none;
			}
		}
	}

	.controls {
		margin-top: 90px !important;
	}

	.full-info_wrapper {
		margin-top: 95px;
	}
}

.controls {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 80px;



	.controls-leftside {
		.controls-leftside__tag {
			#light & {
				color: $color-dark-gray;
			}

			#dark & {
				color: $color-light-gray;
			}
		}

		h2 {
			font-weight: 700;
			font-size: 2.2rem;
			letter-spacing: -1.125px;
			margin-bottom: 5px;
		}

		.invoices-counter {
			font-weight: 500;
			font-size: 0.8rem;
			letter-spacing: -0.1px;
			line-height: 15px;
			/* 115.385% */
			color: var(--06, #888eb0);

			#light & {
				color: #888eb0;
			}

			#dark & {
				color: #dfe3fa;
			}
		}
	}

	.controls-roghtside {
		display: flex;
		align-items: center;

		.filter {
			font-size: 1rem;
			font-weight: 700;
			line-height: 15px;
			letter-spacing: -0.25px;

			#light & {
				color: #0c0e16;
			}

			#dark & {
				color: #fff;
			}
		}

		.new-invoice {
			margin-left: 40px;
			p{
				&:after{
					content: ' Invoice';
					display: inline;
				}
			}
		}
	}
}


.invoice-list {
	margin-top: 64px;
}

.single-invoice {
	display: flex;
	// justify-content: space-between;
	// align-items: center;
	display: grid;
	grid-template: repeat(1, auto) / repeat(6, 1fr);
	align-items: center;

	border-radius: 8px;
	padding: 16px 32px;
	margin-bottom: 16px;
	box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);

	#light & {
		background: #fff;
	}

	#dark & {
		background: var(--03, #1e2139);
	}

	&__id {

		// width: 103px;
		h3 {
			font-weight: 700;
			line-height: 15px;
			letter-spacing: -0.25px;

			span {
				color: var(--07, #7e88c3);
				font-size: 1rem;
				font-weight: 700;
				line-height: 15px;
			}

			#light & {
				color: #0c0e16;
			}

			#dark & {
				color: #fff;
			}
		}
	}

	&__date {

		// width: 150px;
		span {
			color: var(--06, #888eb0);
			font-size: 0.8rem;
			font-weight: 500;

			#light & {
				color: #7e88c3;
			}

			#dark & {
				color: #dfe3fa;
			}
		}
	}

	&__name {

		// width: 200px;
		p {
			color: var(--06, #888eb0);
			font-size: 0.8rem;
			font-weight: 500;

			#light & {
				color: #858bb2;
			}

			#dark & {
				color: #ffffff;
			}
		}
	}

	&__value {

		// width: 110px;
		span {
			font-size: 1rem;
			font-weight: 700;
			line-height: 24px;
			/* 160% */
			letter-spacing: -0.25px;

			#light & {
				color: #0c0e16;
			}

			#dark & {
				color: #fff;
			}
		}
	}

	.draft {
		#dark & {
			background-color: rgba(223, 227, 250, 0.0571);

			p {
				color: #DFE3FA !important;

				&::before {
					background-color: #DFE3FA;
				}
			}
		}
	}

	&__status {
		width: 104px;
		border-radius: 6px;
		// background: rgba(51, 214, 159, 0.05); /* Уменьшаем только прозрачность фона */
		padding: 14px 30px 11px 30px;
		display: flex;
		justify-content: center;

		p {
			display: flex;
			align-items: center;
			color: #33d69f;
			font-weight: 700;
			font-size: 15px;
		}

		p::before {
			content: "";
			display: block;
			width: 8px;
			height: 8px;
			background-color: #33d69f;
			border-radius: 50%;
			margin-right: 8px;
		}
	}

	&__arrow {
		display: flex;
		justify-content: center;
	}
}

.filter-container {
	position: relative;
	cursor: pointer;

	img {
		transition: .2s;
	}
}

.filter-content {
	position: absolute;
	right: 0;
	top: 20px;
	width: 192px;
	border-radius: 8px;
	transform: translateY(-20%);
	visibility: hidden;
	transition: .3s;
	opacity: 0;

	#light & {
		background-color: #fff;
		box-shadow: 0px 10px 20px 0px rgba(72, 84, 159, 0.25);

	}

	#dark & {
		background: var(--04, #252945);
		box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
	}

	&.active {
		opacity: 1;
		visibility: unset;
		transform: translateY(0);
	}
}

.filter-btn {
	display: flex;
	align-items: center;
	gap: 15px;
	p {
		&:after{
			content: ' by status';
			display: inline;

		}		

		color: var(--08, #0c0e16);
		font-size: 15px;
		font-weight: 700;

		#light & {
			color: #0c0e16;
		}

		#dark & {
			color: #fff;
		}
	}
}




.filter-content-filters {
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.filter-item {
	display: flex;
	gap: 13px;
	cursor: pointer;
	align-items: center;

	label {
		font-size: 15px;
		font-weight: 700;

		#light & {
			color: var(--03, #1E2139);
		}
		#dark & {
			color: #fff;
		}
	}

	input[type="checkbox"] {
		&::before {
			content: '';
			width: 16px;
			height: 16px;
			border-radius: 2px;
			// border: 1px solid var(--01, #7C5DFA);
			background: var(--05, #DFE3FA);
			display: inline-block;
			vertical-align: middle;
		}

		&:checked::before {
			background: var(--01, #7C5DFA);
		}
	}
}

@media(max-width: 700px){
	main{
		padding: 0 24px;
	}

	.single-invoice{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(4, 1fr);

		&__id{
			grid-column: 1/2;
		}
		&__date{
			grid-column: 1/2;
			grid-row: 3/4;
		}
		&__name{
			grid-column: 2/3;
			text-align: right;
		}
		&__value{
			grid-column: 1/2;
			grid-row: 4/5;

		}
		&__status{
			grid-row: 3/5;
			grid-column: 2/3;
			justify-self: end;
		}
		&__arrow{
			display: none;
		}
	}

	.filter-btn{
		p{
			&:after{
				content: ''
			}
		}
	}
	.new-invoice{
		margin-left: 18px!important;
		p{
			&:after{
				content: ''!important;
			
			}
		}
	}
}
